.welcome {
    background-image: url(../../images/Ksamill-1.jpg);
    height: 900px;
}

.home, .signup, .login {
    display: grid;
    justify-content: right;
    align-items: baseline;
    color: #d7a9e3ff;
}